body {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #f5f5f5;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #32c539;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}
.navbar .logo {
  font-weight: 400;
  margin: 0;
  color: white;
  text-shadow: 0 0 5px #05ba17, 0 0 10px #17e821, 0 0 20px #46f646;
}
.navbar a {
  text-decoration: none;
}
.cart-section {
  position: absolute;
  cursor: pointer;
  right: 120px;
}
.shop-cart {
  background-color: #388e3c;
  padding: 8px 10px;
  border-radius: 50%;
}
.cart-count {
  position: absolute;
  top: 15px;
  right: -8px;
  background: rgb(51, 0, 255);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
  font-size: 12px;
  border-radius: 50%;
  padding: 3px 6px;
}

/* Product Container */
.container {
  padding: 100px 5px 20px 5px;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
  overflow: hidden;
}
.card {
  position: relative;
  background: white;
  border: #05ba17 solid 1px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  cursor: pointer;
  max-width: 100%;
  box-sizing: border-box;
}
.card h3 {
  color: #3535e5;
  font-size: smaller;
}
.card .product-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.price {
  font-weight: bold;
  font-size: smaller;
  color: green;
}
.rating {
  padding-bottom: 20px;
}
.rating p {
  color: #388e3c;
  font-size: smaller;
}
.rating p span {
  color: #59e960;
  font-size: small;
  font-weight: 550;
}
.desc {
  font-size: 14px;
  text-align: justify;
  color: #444;
  margin: 10px 0;
  overflow: hidden;
  max-height: 60px;
  transition: max-height 0.4s ease-in-out;
}
.desc.expanded {
  max-height: 500px;
}
.desc.collapsed {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.read-more {
  color: #007bff;
  font-size: 13px;
  cursor: pointer;
  padding: 0;
}
.read-more:hover {
  text-decoration: underline;
}
button {
  background-color: #4caf50;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
}
.add-cart-btn {
  position: absolute;
  cursor: pointer;
  bottom: 10px;
  left: 31%;
  background-color: #05ba17;
}
.remove-cart-btn {
  position: absolute;
  cursor: pointer;
  bottom: 10px;
  left: 23%;
  background-color: #f90501;
}
.remove-cart-btn:hover {
  background-color: #e32b28;
}
button:hover {
  background-color: #388e3c;
}
/* Modal Styles */
.modal-section {
  width: 100%;
  padding: 100px 0px 0px 0px;
}
.modal-section h2 {
  color: #388e3c;
  font-weight: 500;
  text-align: center;
  padding: 10px 0;
}
.modal-section p {
  font-size: medium;
  text-align: center;
}
.cart-items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  align-items: stretch;
  margin: 20px;
}
.cart-item {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 15px;
  padding-left: 20px;
  position: relative;
  background: white;
  border: #05ba17 solid 1px;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  cursor: pointer;
}
.card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart-item img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.cart-info {
  flex: 1;
  margin-left: 10px;
}
.cart-info h4 {
  color: #3535e5;
  font-size: medium;
}
.cart-info p {
  color: #59e960;
}
.cart-info p span {
  color: #59e960;
  font-weight: bold;
}
.total-price {
  color: #1b1bd3;
}
.total-price span {
  color: #6767e8;
  font-weight: 550;
}
.inc-btn {
  display: flex;
  gap: 30px;
  justify-content: center;
}
.inc-btn button:first-child {
  padding: 8px 22px;
}
.remove-btn {
  background-color: #f90501;
  margin-top: 20px;
  align-items: center;
}
.remove-btn:hover {
  background-color: #e32b28;
}
.close-btn {
  margin-top: 10px;
  width: 100%;
}
hr {
  margin: 0;
  border: none;
  height: 1px;
  background-color: #a8f0ab;
}
.cart-summary {
  background-color: #d1ffd3;
  padding: 5px;
}
.cart-summary h3 {
  color: #4ab02b;
}
.cart-summary p {
  color: #1b1bd3;
}
.cart-summary p strong {
  color: #5555d3;
}
